# Maven
target/

# Spring Boot
*.log
*.jar
!application*.properties
mvnw
mvnw.cmd
src/main/resources/application.properties

# React
node_modules/
build/

# Docker
.DS_Store
.dockerignore
.docker/

# IntelliJ IDEA / Eclipse
.idea/
.classpath
.project
.settings/

# macOS
.DS_Store

# Windows
Thumbs.db
